@model int
<div class="text-center">
<h1 class="text-info pt-4" >Congratulation! your order has been placed</h1>
<p class="pb-3">We have recived your order and will be ready in 30 min during regular bussiness hours</p>
<h4 class="text-warning p-3">Order ID - @Model</h4>
<img src="/images/order.png" width="80%" />

</div>